@model EtecTube.Models.Video
@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}

<div class="videos">
    @for (int i = 0; i < 20; i++)  {
        <!-- Início do Vídeo 1 -->
        <div class="video">
            <div class="thumbnail">
                <img src="@Url.Content(Model.Thumbnail)" alt="@Model.Name" />
            </div>
            <div class="details">
                <div class="author">
                    <img src="@Url.Content(Model.Channel.ChannelPicture)" alt="@Model.Channel.Name" />
                </div>
                <div class="title">
                    <h3>@Model.Name</h3>
                    <a href="">@Model.Channel.Name</a>
                    <span>3M Visualizações • @Model.PassedTime</span>
                </div>
            </div>
        </div>
        <!-- Fim do Vídeo 1 -->
    }
</div>
