@model IEnumerable<GalloTube.Models.Video>
@{
    ViewData["Title"] = "Home Page";
}

<div class="videos-container">
        <div class="all-videos">
            @foreach (var video in Model)
            {
                <div class="single-video">
                    <a asp-action="Watch" asp-route-id="@video.Id">
                        <img src="@Url.Content(video.Thumbnail)" class="thumb" alt="@video.Name">
                    </a>
                    <div class="flex-box">
                        <img src="@Url.Content(video.Channel.ChannelPicture)" alt="@video.Channel.Name">
                        <div class="video-details">
                            <a asp-action="Watch" asp-route-id="@video.Id">@video.Name</a>
                            <p><a asp-action="Channel" asp-route-id="@video.ChannelId">@video.Channel.Name</a></p>
                            <p>@video.TextVisualizations • @video.PassedTime</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

@section Scripts {
    <script src="~/js/index.js"></script>
}